* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}






/* hero */
.tedih1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 70px;
}

.tedih3 {
    background-color: rgba(230, 247, 196, 0.452);
    border-radius: 30px;
    width: 250px;
}
/* end hero */






/*ucapan pembuka */
.salam  {
    font-family: 'Sacramento', cursive;
    font-weight: bold;

    font-size: 23px;

}
/* end ucapan pembuka */






/* mempelai */
.memperkenalkan {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 25px;
}

.tedimh1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 45px;
}

.dan {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 45px;
}


.naissh1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 45px;
}

.mempelai .container .row  .ornamenR {
    transform: scaleX(-1);
    position: relative;
    top: 35%;
}


@media screen and (max-width: 768px) {
    .ornamenR img{
        display: none;
        position: absolute;
    }
}


@media screen and (max-width: 576px) {
    .ornamenR img{
        display: none;
        position: absolute;

    }
}


.mempelai .container .row  .ornamenL {
    position: relative;
    top: 35%;
}

@media screen and (max-width: 768px) {
    .ornamenL img{
        display: none;
        position: absolute;

    }
}


@media screen and (max-width: 576px) {
    .ornamenL img{
        display: none;
        position: absolute;

    }
}
/* end mempelai */





/* tgl akad */
.souvenir {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 33px;
}


.akad_nikahh1 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 23px;
}

.wasalam {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 23px;
}

.maps iframe {
    width: 200px;
    height: auto;
    border: 1px black solid;
}
/* end tgl akad */







/* qs ar-rum */
.arrum {
    font-family: 'Sacramento', cursive;
    font-weight: bold;

    font-size: 23px;
}

.ayat {
    font-family: 'Sacramento', cursive;
    font-size: 33px;
}
/* end qs ar-rum */





/* footer */
footer h1 a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
footer .kontak a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 11px;

}

footer .kontak a:hover {
    color: green;
}

/* end footer */





